<a href="https://colab.research.google.com/github/CalCorbin/machine-learning-mentorship/blob/main/Cal_Lesson_1_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



California Housing Dataset

*italicized text*
1.   Load dataset - https://scikit-learn.org/stable/datasets/real_world.html#california-housing-dataset
2.   Train test split
3.   Fit baseline model
4.   Add features/interactions
5.   Build best model without overfitting

In [ ]:
## Create model that most accurately predict house prices

Exercise 1 - Load Dataset

In [ ]:
## https://scikit-learn.org/stable/datasets/real_world.html#california-housing-dataset
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
import pandas as pd

# Set the california housing data as our data
data = fetch_california_housing()

# Review column names and select column to use
# In this case we used feature_names
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [74]:
# Create a table with our data to view
df = pd.DataFrame(data=data['data'], columns=data['feature_names'])
df['target'] = data['target']

df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [77]:
uc_berkeley = np.array([[37.87], [-122.25]])
test_place = np.array([[34.04], [-118.32]])
# print(uc_berkeley)

def compute_dist(a, b):
  return np.linalg.norm(a-b)

# print(compute_dist(uc_berkeley, test_place))

df['UcBerkDist'] = [compute_dist(uc_berkeley, np.array([[lat], [longi]])) for lat,longi in zip(df['Latitude'], df['Longitude'])]

df.head(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target,UcBerkDist
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,0.022361
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,0.031623
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,0.022361
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,0.020000
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,0.020000
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697,0.020000
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,2.992,0.030000
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,2.414,0.030000
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,2.267,0.031623
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,2.611,0.030000

Exercise 2 - Train test split

In [ ]:
"""
In this section we're using train_test_split from sklearn.
The train_test_split method splits arrays or matrices into random train and test subsets.
"""
X = df.drop('target', axis=1)
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
len(X_train), len(X_test), len(y_train), len(y_test)

(16512, 4128, 16512, 4128)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

lr = LinearRegression()
lr.fit(X_train, y_train)

# Get y predictions
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

# Get the measure of errors between paired observations
mean_absolute_error(y_train, y_pred_train), mean_absolute_error(y_test, y_pred_test)

(0.5323163674670447, 0.5270320744751492)

In [ ]:
df_train = pd.DataFrame(data=X_train, columns=data['feature_names'])
df_train['target'] = y_train

df_test = pd.DataFrame(data=X_test, columns=data['feature_names'])
df_test['target'] = y_test

In [ ]:
"""
Create a new dataframe where we compare columns from the source data.
Data used is training data from X_train.
Format for columns being compared is {column1}*{column2}.
"""
for i in range(len(data['feature_names'])):
  column1 = data['feature_names'][i]
  for j in range(i + 1, len(data['feature_names'])):
    column2 = data['feature_names'][j]
    df_train[f'{column1}*{column2}'] = df_train[column1]*df_train[column2]

df_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target,MedInc*HouseAge,...,AveBedrms*Population,AveBedrms*AveOccup,AveBedrms*Latitude,AveBedrms*Longitude,Population*AveOccup,Population*Latitude,Population*Longitude,AveOccup*Latitude,AveOccup*Longitude,Latitude*Longitude
20113,3.4861,17.0,17.300000,6.500000,51.0,2.550000,37.94,-119.57,1.375,59.2637,...,331.500000,16.575000,246.610000,-777.205000,130.050000,1934.94,-6098.07,96.747000,-304.903500,-4536.4858
16951,6.6959,34.0,6.470909,1.018182,1747.0,3.176364,37.52,-122.34,4.112,227.6606,...,1778.763636,3.234116,38.202182,-124.564364,5549.107273,65547.44,-213727.98,119.177164,-388.596327,-4590.1968
16190,1.3438,48.0,3.848485,1.170996,1237.0,2.677489,37.96,-121.29,1.031,64.5024,...,1448.521645,3.135328,44.450996,-142.030065,3312.054113,46956.52,-150035.73,101.637489,-324.752662,-4604.1684
12320,1.9500,21.0,5.510730,1.313305,537.0,2.304721,33.89,-116.51,0.610,40.9500,...,705.244635,3.026801,44.507897,-153.013133,1237.635193,18198.93,-62565.87,78.106996,-268.523047,-3948.5239
7723,4.6750,33.0,6.060440,1.079670,973.0,2.673077,33.94,-118.12,2.830,154.2750,...,1050.519231,2.886042,36.644011,-127.530659,2600.903846,33023.62,-114930.76,90.724231,-315.743846,-4008.9928

In [ ]:
"""
Create a new dataframe where we compare columns from the source data.
Data used is test data from X_test.
Format for columns being compared is {column1}*{column2}.
"""
for i in range(len(data['feature_names'])):
  column1 = data['feature_names'][i]
  for j in range(i + 1, len(data['feature_names'])):
    column2 = data['feature_names'][j]
    df_test[f'{column1}*{column2}'] = df_test[column1]*df_test[column2]

df_test.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target,MedInc*HouseAge,...,AveBedrms*Population,AveBedrms*AveOccup,AveBedrms*Latitude,AveBedrms*Longitude,Population*AveOccup,Population*Latitude,Population*Longitude,AveOccup*Latitude,AveOccup*Longitude,Latitude*Longitude
4780,2.0259,42.0,4.811989,1.100817,1117.0,3.043597,34.04,-118.32,1.688,85.0878,...,1229.613079,3.350444,37.471826,-130.248719,3399.697548,38022.68,-132163.44,103.604033,-360.118365,-4027.6128
19023,2.5938,18.0,4.470588,1.056517,2386.0,2.752018,38.34,-121.98,1.295,46.6884,...,2520.848904,2.907554,40.506851,-128.873910,6566.316032,91479.24,-291044.28,105.512388,-335.691211,-4676.7132
9328,3.9917,35.0,4.609137,0.984772,413.0,2.096447,37.96,-122.53,2.908,139.7095,...,406.710660,2.064521,37.381929,-120.664061,865.832487,15677.48,-50604.89,79.581117,-256.877614,-4651.2388
14689,2.8631,20.0,4.401210,1.076613,999.0,2.014113,32.79,-117.09,1.697,57.2620,...,1075.536290,2.168420,35.302137,-126.060605,2012.098790,32757.21,-116972.91,66.042762,-235.832480,-3839.3811
12704,3.0890,18.0,3.997126,1.081609,2803.0,1.610920,38.58,-121.41,1.414,55.6020,...,3031.750575,1.742385,41.728483,-131.318172,4515.407471,108139.74,-340312.23,62.149276,-195.581741,-4683.9978

In [ ]:
X_train_interactions = df_train.drop('target', axis=1)
X_test_interactions = df_test.drop('target', axis=1)

lr.fit(X_train_interactions, y_train)

y_pred_train = lr.predict(X_train_interactions)
y_pred_test = lr.predict(X_test_interactions)

# Finally, observe the mean_absolute_error between our training data and test data.
mean_absolute_error(y_train, y_pred_train), mean_absolute_error(y_test, y_pred_test)

(0.47667362389794066, 0.48711579294683927)

[[  37.87]
 [-122.25]]
5.487604213133454